<script src={{ 'justclick.js' | asset_url }}></script>

<div class={{section.name}}>
  <h1>Reviews</h1>
</div>

{% schema %}
  {
    "name": "JustReviewButton",
    "target": "section",
    "tag": "div",
    "class": "justButton",



    "settings": [
      {
        "type": "text",
        "id": "textid",
        "label": "Review",
        "placeholder": "Awesome"

      }
    ]



  }
{% endschema %}